{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Добавление</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'img/icons.ico' %}" type="image/x-icon">
</head>
<body>
<script>
    window.onload = function () {
        document.body.classList.add('loaded_hiding');
        window.setTimeout(function () {
            document.body.classList.add('loaded');
            document.body.classList.remove('loaded_hiding');
        }, 500);
    }
</script>
<div class="preloader">
     <div class="preloader__row">
        <div class="preloader__item"></div>
        <div class="preloader__item"></div>
    </div>
</div>

<section class="section">
 <div class="container">
<h1 class="title4">ДОБАВЛЕНИЕ</h1>
     <img src="{% static 'img/2.png' %}" alt="">
 </div>
    <div class="container">
        <form action="" method="post"  enctype="multipart/form-data">
            {% csrf_token %}
            <input type="text" placeholder="Название" maxlength="100" name="name">
            <textarea placeholder="Описание" name="description" maxlength="3000"></textarea>
            <input type="text" placeholder="Стоимость" name="price"
                   onkeyup="this.value = this.value.replace(/[^\d]/g,'');" maxlength="6">
            <select  name="currency" required>
                    <option value="" disabled selected hidden>Валюта</option>
                    <option>BYN</option>
                    <option>USD</option>
                </select>

            <div class="example-2">
                        <div class="form-group">
                            <input required  class="input-file" id="file" type="file" name="img" accept="image/jpeg, image/png, image/jpg">
                            <label for="file" class="btn btn-tertiary js-labelFile">
                                <i class="icon fa fa-check"></i>
                                <span class="js-fileName">Загрузить файл</span>
                            </label>
                        </div>
                    </div>
            <input type="submit" class="button button-add is-primary" value="Добавить">
        </form>
            {% for message in messages %}
                <span class="error-msg">{{ message }}</span>
            {% endfor %}
    </div>
</section>

    <script>
    (function () {

        'use strict';

        $('.input-file').each(function () {
            var $input = $(this),
                $label = $input.next('.js-labelFile'),
                labelVal = $label.html();

            $input.on('change', function (element) {
                var fileName = '';
                if (element.target.value) fileName = element.target.value.split('\\').pop();
                fileName ? $label.addClass('has-file').find('.js-fileName').html(fileName) : $label.removeClass('has-file').html(labelVal);
            });
        });

    })();
</script>


</body>
</html>